<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Unit Price</th>
      <th>Unit Price</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% @line_items.each do |item| %>      
      <tr>
        <td>
          <%= image_tag item.product.image.tiny %>
        </td>
        <td>
          <h4><%= item.product.name %></h4>
          <br>
          <p><%= item.product.description %></p>
        </td>
        <td>
          <%= number_with_precision(item.item_price_cents/100.00, precision: 2) %>
        </td>
        <td>
          <%= item.quantity %>
        </td>
        <td>
          <%= number_with_precision(item.total_price_cents/100.00, precision: 2) %>
        </td>
      </tr>

      
    <% end %>
  </tbody>
</table>
  </body>
</html>